@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf ");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  /* font-family: charter; */
}

a {
  color: var(--gray30);
}

header {
  /* --gray10: red;  */ /* asignandole solo en esta seccion otro color a la variable */
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

pre {
  background: #fec62e;
}

.hero {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent),
    url("../images/pattern.png");
  /* background-repeat: no-repeat; */
  /* esto quiere decir que estará 50px separado de la izquierda y 50pz separado de abajo */
  /* background-position: left 50px bottom 50px; */
  /* background-position: left bottom; --> abajo a la izquierda*/
  height: 350px;
}
/* se le agrega los guiones de esta manera, debido a que no apararecerá en la semantica del HTML */
h3::after {
  content: "";
  width: 80px;
  height: 4px;
  display: block;
  background: var(--gray30);
}
/* 
h3::before {
  content: "-";
} */

/* ::selection {
  background: green;
}
 */
