/* root es lo mismo que html, pero cuando se coloca como pseudoclase
tiene un peso superior, invalida al html (obedece al root) */
:root {
  font-size: 18px;
}

/* html {
  font-size: 16px;
} */

body {
  color: #212121;
}

a {
  color: #212121;
}

header {
  font-size: 14px;
  color: #616161;
}

header a {
  color: #616161;
  text-decoration: none;
}

header a:hover {
  color: #212121;
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
/* 
ol li:first-child {
  --  para modificar el primero de los li 
  border: 1px solid red;
  
} */

/* 
ol li:last-child {
  --  para modificar el ultimo de los li 
  border: 1px solid red;
  
} */

/* 
ol li:nth-child(4n) {
  --  Selecciona cada cuarto elemento entre cualquier grupo de hermanos
  border: 1px solid red;
  
} */

/* 
ol li:nth-child(odd) {
  --  para modificar los impares
  border: 1px solid red;
  
} */

/* 
ol li:nth-child(even) {
  --  para modificar los pares
  border: 1px solid red;
  
} */
